.tag-image {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
  -webkit-filter: opacity(60%); /* Safari 6.0 - 9.0 */
  filter: opacity(60%);
}

.tag-image-container{
  position:relative;

}
.tag-image-text {
  position:absolute;
  width:100%;
  padding: 5px;
  text-align: center;
  top:45%;
  font-size: 2.5vw;
  color: black;

}

.tag-card {
  height:12vw;
  overflow:hidden;
}

.subsection-recipes {
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: lightgray;

}


.subsection-tags {
  padding-top: 3vw;
  padding-bottom: 3vw;
  background-color: #F6F6F6;
}

.home-section {
margin-top: 2vh;
margin-bottom: 2vh;
}