.tag-image {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
  -webkit-filter: opacity(70%); /* Safari 6.0 - 9.0 */
  filter: opacity(70%);


}

.tag-image-container{
  position:relative;

}
.tag-image-text {
  position:absolute;
  width:100%;
  text-align: center;
  top:50%;
  font-size: 2.5vw;

}

.tag-card {
  height:12vw;
  overflow:hidden;
}

.subsection {
margin-top: 4vw;
  margin-bottom: 4vw;

}