.ui.borderless.topmenu.menu.top {
  background-color: teal;
  border-radius: 0px;

  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
}


.home-image {

}
.card-image {
  max-width:50%;
  margin-left:25%;

}

.content {
  height: auto;
}

.content-container {
  margin-top:40px;
}

.content-container-lesswide {
  margin-top:40px;
  margin-bottom:40px;
  padding-left:20%;
  padding-right:20%;

}

.content-container-lesswide-heading {
  margin-top:40px;
  margin-bottom:20px;
  padding-left:20%;
  padding-right:20%;

}
.filler {
  margin-bottom: 100px;
}

body {
  background: #f8ffe8; /* Old browsers */
  background: -moz-linear-gradient(top, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 ); /* IE6-9 */
}

.maintitle {
  font-size: 38px;
  font-family: 'Josefin Sans', sans-serif;
}

.mainsubtitle {
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
}

.ui.middle.aligned.centered.text.container.mainstuff {
  margin-top: 25%;

}

.thefooter {
  background-color: teal;
  color:white;
  position:fixed;
  bottom:0;
  width:100%;
  min-height:50px;
}
