
.thefooter {
  background-color: #005837;
  color:white;
  position:fixed;
  bottom:0;
  width:100%;
  min-height:50px;
  z-index:100000000;
}

.theheader {
  background-color: #005837;
  color:white;
  position:fixed;
  top:0;
  width:100%;
  min-height:50px;
  z-index:100000000;

}

.landing-content {
  z-index:100000000;
}

.filler {


}

.landing-image-background {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
  background-size: 100%;
  filter: blur(10px);
  height: 100%px;
  width: 100%;
  z-index: -1;
  position: absolute;
  margin: -5px -5px -5px -5px;
}

.landing-image-background-container{
  background-color: #AAAAAA;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -1000;
  position: absolute;
}